<script src="/purplecat/demo.js"></script>

<p>
    <div><span class="label">Pom File:</span><span><input type="file" id="pomfile"></input></span></div>
    <div><span class="label">Pom URL:</span><span><input id="pomurl" size="50" type="text" placeholder="Input pom url in the maven repository"></input></span></div>
</p><p>
    <input type="button" value="Run purplecat!" id="runButton"></input>
    <input type="button" value="Reset" id="resetButton"></input>
</p>
<p id="message"></p>

<pre id="resultArea"></pre>
